/******************************************************************************
 * style.css
 *
 * All css styles for installer / popup / main application
 *
 ******************************************************************************/

/******************************************************************************
 * Main CSS
 ******************************************************************************/

html, body {
    min-height: 100%;
}

body {
    width: 100%;
    background-repeat: repeat-x;

    background-image: url(../images/tall_grad.png);
    background-color: white;

	margin-bottom: 100px;
	margin-top: 30px;

	font-family: "Lucida Grande", Verdana, Arial, sans-serif;
}

a {
	color: black;
	text-decoration: none;
}

p a {
    color: black;
    text-decoration: underline;
}

p a:hover {
    color: black;
    background-color: #bebebe;
}

body div.content {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

/* MDB: uniform.js
li input[type="checkbox"] {
    margin-left: -7px;
}
*/

h1, h2, h3, h4 {
    margin-left: 20px;
}

h1 {
	font-size: 175%;
}

h2 {
	font-size: 130%;
}

h3 {
    font-size: 120%;
}

h4 {
    font-size: 100%;
    font-weight: 500;
}

ol {
    list-style-type: none;
    padding-bottom: 4px;
}

li {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 16px;
}

/* MDB: uniform.js
.text {
    font-family: monospace;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    padding: 3px;
    font-size: 16px;
}

input {
    display: inline;
    margin: 0px;
    padding: 0px;
}
*/

.section, body > div.wrapper {
    border-width: 6px;
    border-style: solid;
    border-color: black;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    background-color: white;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-top: 0px;
}

.panel-trigger {
	padding-bottom: 10px;
	padding-top: 10px;
	cursor: pointer;
}

.panel-trigger input, .panel-trigger h2, .panel-trigger h3 {
    display: inline;
}

.wrapper {
    margin-bottom: 10px;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 4px;
    padding-left: 10px;
    
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
}

.panel {
    display: none;
   
    margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	
    padding-top: 7px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.panel0 {
    width: 800px;
    background-color: white;
}

.panel1 {
    background-color: #ececec;
}

.panel2 {
	background-color: #cfcfcf;
}

.panel3 {
    background-color: #bebebe;
}

.select-list li:first-child {
	font-size: 100%;
    height: 26px;
    background-color: #efefef;
    width: 300px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.select-list li {
	font-size: 80%;
    padding-right: 8px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
    height: 24px;
    margin: 0px;
}

.select-list li p {
	padding-right: 20px;
	padding-left: 20px;
	display: inline;
}

.text-label {
	padding-left: 3px;
	display: block;
}

.select-list li * {
    vertical-align: middle;
}

.btn {
    font-size:1em;
    color:#234e70;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    -webkit-box-shadow:rgba(0,0,0,0.15) 0px 1px 3px;
    -moz-box-shadow:rgba(0,0,0,0.15) 0px 1px 3px;
    box-shadow:rgba(0,0,0,0.15) 0px 1px 3px;
    border:solid 1px #6e93b0;
    background:url('../images/btn-sm-bg.png') repeat-x 0px 0px;
    height:27px;line-height:26px;
    text-shadow:rgba(255,255,255,0.5) 0px 1px 0px;
    display:inline;
    float:left;
    margin-right:5px;
    padding:0 10px
}

.btn:hover {
    text-decoration:none;
    color:#234e70
}

.btn:active {
    background-position:0px bottom
}

tr {
	height: 10px;
	font-size: 70%;
}

tr:first-child {
	font-size: 100%;
}

td {
	height: 15px;
	padding-right: 20px;
	padding-top: 2px;
	padding-bottom: 2px;
}

td:first-child {
	padding: 0px 5px 4px 0px;
	width: 10px;
}

/*
td input {
	margin: 0px;
}

td input.checkbox {
    position: absolute;
    height: 13px;
    width: 13px;
    top: 0px;
    left: 0px;
}
*/

.configuration-list label {
	padding-right: 10px;
	display: inline;
}

.error {
    margin: 8px 15px;
    background-color: #f89595;
    padding: 5px;
}

.error ul li {
	font-size: 75%;
	list-style-type: disc;
	margin: 2px 0px 2px 25px;
	padding: 2px;
}

/******************************************************************************
 * Popup CSS
 ******************************************************************************/

#popup-background
{
    display:none;
    position:fixed;
    height:100%;
    width:100%;
    top:0;
    left:0;
    background:#000000;
    border:1px solid #cecece;
    z-index:1;
}

#popup
{
    display: none;
    position: fixed;
/*    height:384px; */
/*    width: 350px; */
    background: #FFFFFF;
    border: 2px solid #cecece;
    z-index: 2;
    padding: 12px;
    font-size: 13px;
}

#popup p
{
    float: left;
}

#popup h1
{
    text-align:left;
    font-size:22px;
    font-weight:700;
    border-bottom:1px dotted #D3D3D3;
    padding-bottom:2px;
    margin-bottom:20px;
}

#popup-buttons
{
    display: block;
    clear: left;
    margin-top: 20px;
}

#popup-close
{
    cursor: pointer;
    font-size:14px;
    line-height:14px;
    right:6px;
    top:4px;
    position:absolute;
    color:#6fa5fd;
    font-weight:700;
    display:block;
}

/******************************************************************************
 * Installer CSS
 ******************************************************************************/
 
body > form > div.content {
    border-width: 6px;
    border-color: black;
    border-style: solid;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-left: 20px;
    margin-top: 20px;
}

body > form > input {
    margin-left: 20px;
}

.installer-text {
    margin-left: 20px;
    width: 750px;
}
